@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
body{
    background-image: linear-gradient(130deg, #e873ff, #6808d6);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    overflow: hidden;
}
main{
    background-color: #fff;
    width: 100%;
    max-width: 500px;
    height: min-content;
    max-height: 600px;
    border-radius: 18px;
    padding: 1rem;
}
form{
    position: relative;
    margin: .5rem 5px;
    display: flex;
    align-items: center;
}
form input{
    width: 100%;
    padding: 13px;
    border-radius: 20px;
    border: none;
    background-color: #e7e7e7;
    font-size: 15px;
}
form .material-symbols-outlined{
    position: absolute;
    right: 0;
    margin-left: 1rem;
    background-color: #ff5945;
    color: #fff;
    font-size: 30px;
    border: none;
    padding: 7px 25px;
    border-radius: 50px;
    cursor: pointer;
}
.task-list{
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 1rem;
}
.task-list ul li{
    list-style: none;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.task-list ul li::before{
    content: '';
    flex: none;
    background-image: url(../img/unchecked.png);
    background-position: center;
    background-size: cover;
    width: 28px;
    height: 28px;
}
.task-list ul li.check .task{
    text-decoration: line-through;
    font-style: italic;
}
.task-list ul li.check::before{
    content: '';
    flex: none;
    background-image: url(../img/checked.png);
    background-position: center;
    background-size: cover;
    width: 28px;
    height: 28px;
}
.task-list ul li span.material-symbols-outlined{
    text-decoration: none;
    font-size: 25px;
}
